<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.its.form.dao.FormInstanceDAO">
    <sql id="columns">
        t.rid, <!-- 唯一记录号-->
        t.form_inst_id, <!-- 表单实例ID-->
        t.biz_id, <!-- 业务ID-->
        t.form_id, <!-- 表单ID-->
        t.form_code, <!-- 表单代码-->
        t.form_name, <!-- 表单名称-->
        t.vali_flag, <!-- 有效标志-->
        t.insu_admdvs, <!-- 所属医保区划-->
        t.admdvs, <!-- 医保区划-->
        t.poolarea_no, <!-- 统筹区编号-->
        t.crter_id, <!-- 创建人ID-->
        t.crter_name, <!-- 创建人姓名-->
        t.crte_optins_no, <!-- 创建机构编号-->
        t.crte_time, <!-- 创建时间-->
        t.opter_id, <!-- 经办人ID-->
        t.opter_name, <!-- 经办人姓名-->
        t.optins_no, <!-- 经办机构编号-->
        t.opt_time, <!-- 经办时间-->
        t.updt_time <!-- 更新时间-->
    </sql>
    <!-- 查询表单实例列表-->
    <select id="listFormInstance" parameterType="cn.hsa.its.form.dto.FormInstanceDTO" resultType="cn.hsa.its.form.dto.FormInstanceDTO">
        SELECT
        <include refid="columns"/>
        from form_inst_b t
        <where>
            t.vali_flag = '1'
            <if test="formInstId != null and formInstId != '' "> and t.form_inst_id = #{formInstId}</if>
            <if test="bizId != null and bizId != '' "> and t.biz_id = #{bizId}</if>
            <if test="formId != null and formId != '' "> and t.form_id = #{formId}</if>
            <if test="formCode != null and formCode != '' "> and t.form_code = #{formCode}</if>
            <if test="formName != null and formName != '' "> and t.form_name = #{formName}</if>
            <if test="insuAdmdvs != null and insuAdmdvs != '' "> and t.insu_admdvs = #{insuAdmdvs}</if>
            <if test="admdvs != null and admdvs != '' "> and t.admdvs = #{admdvs}</if>
            <if test="poolareaNo != null and poolareaNo != '' "> and t.poolarea_no = #{poolareaNo}</if>
            <if test="crterId != null and crterId != '' "> and t.crter_id = #{crterId}</if>
            <if test="crterName != null and crterName != '' "> and t.crter_name = #{crterName}</if>
            <if test="crteOptinsNo != null and crteOptinsNo != '' "> and t.crte_optins_no = #{crteOptinsNo}</if>
            <if test="crteTime != null and crteTime != '' "> and t.crte_time = #{crteTime}</if>
            <if test="opterId != null and opterId != '' "> and t.opter_id = #{opterId}</if>
            <if test="opterName != null and opterName != '' "> and t.opter_name = #{opterName}</if>
            <if test="optinsNo != null and optinsNo != '' "> and t.optins_no = #{optinsNo}</if>
            <if test="optTime != null and optTime != '' "> and t.opt_time = #{optTime}</if>
            <if test="updtTime != null and updtTime != '' "> and t.updt_time = #{updtTime}</if>
        </where>
        order by t.para_seq asc
    </select>

    <!-- 依据表单实例ID删除表单配置-->
    <update id="deleteFormInstance" parameterType="String">
        update form_inst_b set
        vali_flag = '0'
        where form_inst_id = #{formInstId} <!--表单实例ID-->
    </update>

    <!-- 依据业务ID删除表单配置-->
    <update id="deleteFormInstanceByBizId" parameterType="String">
        update form_inst_b set
        vali_flag = '0'
        where biz_id = #{bizId} <!--业务ID-->
    </update>
</mapper>